    body {
      margin: 0;
      padding: 0;
      background: url('backgrounds/bg.png') no-repeat center center fixed;
      background-size: cover;
      font-family: 'Courier New', monospace;
      color: #00FF88;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      background-color: rgba(0, 0, 0, 0.65);
      padding: 40px;
      border-radius: 10px;
      text-align: center;
      min-width: 400px;
      box-shadow: 0 0 20px white;

    }

    .title {
      font-size: 16px;
      margin-bottom: 20px;
      letter-spacing: 1px;
    }

    .search-box {
      margin-bottom: 30px;
    }

    input[type="text"] {
      width: 100%;
      padding: 12px;
      border: 2px solid white;
      background-color: black;
      color: white;
      font-size: 16px;
      border-radius: 5px;
      outline: none;
    }

    input[type="text"]::placeholder {
      color: white;;
      opacity: 0.6;
    }

    .links {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-bottom: 30px;
    }

    .link {
      text-decoration: none;
      color: white;
      font-size: 18px;
      transition: transform 0.2s ease-in-out;
    }

    .link:hover {
      transform: scale(1.05);
    }

    .weather-box {
      border: 1px solid white;
      padding: 10px;
      font-size: 14px;
      background-color: black;
      border-radius: 5px;
    }
